@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px gray solid; */
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 30rem;
  padding: 1rem;
  gap: 0.5rem;
  margin-top: auto;
  text-align: center;
  border: 1px gray solid;
  border-radius: 10px;
}

.calculator div {
  -webkit-user-select: none;
  user-select: none;
  border: 1px gray solid;
  border-radius: 10px;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 18rem;
  height: 6rem;
  padding: 0.5em 1rem;
  text-align: right;
}

.calculation-display,
.current-number {
  word-wrap: break-word;
}

.calculation-display {
  min-height: 1.3rem;
}

.current-number {
  min-height: 2.5rem;
  font-size: 2rem;
}

.clear,
.operation,
.number,
.decimal {
  width: 4.1rem;
}

.calculate-button {
  width: 8.7rem;
}

.clear,
.operation,
.number,
.decimal,
.calculate-button {
  height: 3.75rem;
  padding: 1.2rem;
}

.clear:hover,
.operation:hover,
.number:hover,
.decimal:hover,
.calculate-button:hover {
  cursor: pointer;
}

footer {
  font-size: 1rem;
  line-height: 2rem;
  margin-top: auto;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}